/* FOOTER STYLES */

.footer-icon {
	display: inline-block;
	position: relative;
	height: 42px;
}

.footer-icon img {
	margin: 5px 15px 0px 15px;
	width: 30px;
	height: 30px;
}

.footer-icon-selected {
	position: absolute;
	bottom: 0px;
	width: 30px;
	height: 3px;
	background-color: #FFF;
	left: 15px;
}

/* VARIOUS CIRCLES */
.sp-circle-main {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: #CCC;
	position: relative;
}

.sp-circle-text {
	position: absolute;
	left: 37%;
	top: 45%;
}