html {
	font-family: sans-serif;
}

h1 {
	padding: 15px 15px 0px 20px;
	font-size: 30px;	
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: #4D4D4D;
}

.header-contents {
	text-align: center;
	margin-top: 10px;
	color: white;
}

#content {
    background-image:url('../img/grid.png');
}

.foo {
	margin: 20px 0px;
	margin-top: 50px;
}

.book {
	width: 90%;
	margin: 5px auto;
	border: 1px solid #CCC;
	border-radius: 10px;
	padding: 10px;
}

.book-title {
	color: black;
	font-size: 1.1em;
}

.book-author {
	color: #AAA;
}

.book-instock {
	color: green;
}

.book-description {
    font-size: 0.9em;
}

.book-nostock {
	color: red;
}

#medications-table tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}

#medications-table tr:hover {
    background-color: #ccc;
}

#medications-table th {
    background-color: #fff;
}

#medications-table th, #example td {
    padding: 3px 5px;
}

#medications-table td:hover {
    cursor: pointer;
}

.med-name {
	min-width: 150px;	
	style: none;
}

.med-name, .med-alarm, .med-alarm-button {
	padding: 10px;	
}

/* BELOW IS ROGER'S BLUE DAY THEME */

html {
	height: 100%;
	background-color: #9FC2D6;
	font-family: sans-serif;
}

body {
	height: 100%;
	width: 100%;
}

.content {
	padding: 10px;
}

#footer {
	background-color: #86B4CF;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.footer-icon {
	display: inline-block;
	position: relative;
}

.footer-icon-selected {
	position: absolute;
	bottom: 0px;
	width: 35px;
	height: 3px;
	background-color: #FFF;
	left: 9px;
}

img {
	height: 35px;
	width: 35px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 3px;
}

.container {
	margin: 0 auto;
	width: 98%;
	margin-bottom: 55px;
}

#medications-title {
	margin-bottom: 10px;
	font-weight: bold;
}

.medication {
	background-color: #86B4CF;
	padding: 10px;
	border-top: 1px solid #B8D0DE;
	border-bottom: 1px solid #B8D0DE;
}

.medication-brand {
	font-size: 1.1em;
}

.medication-description {
	font-size: 0.8em;
}

.medication:first-child {
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #B8D0DE;
}

.medication:last-child {
	border-radius: 0px 0px 5px 5px;
	border-top: 1px solid #B8D0DE;
}

/* END BLUE DAY */
